body { 
  font-family: 'Raleway', sans-serif; 
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-title { font-size: 1.25rem; }
.page-subtitle { font-size: 1.0rem; }
.page-title, .page-subtitle { 
  text-align: center;
  margin: 1.0rem;
  font-weight: 600;
}

a, a:visited { color: #bfd7ff; }

#photos {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(1, auto);
  -ms-grid-columns: 1fr 1.0rem 1fr;
  align-items: center;
}

div[data-index="0"]  { -ms-grid-row: 1;  -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="1"]  { -ms-grid-row: 2;  -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="2"]  { -ms-grid-row: 3;  -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="3"]  { -ms-grid-row: 4;  -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="4"]  { -ms-grid-row: 5;  -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="5"]  { -ms-grid-row: 6;  -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="6"]  { -ms-grid-row: 7;  -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="7"]  { -ms-grid-row: 8;  -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="8"]  { -ms-grid-row: 9;  -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="9"]  { -ms-grid-row: 10; -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="10"] { -ms-grid-row: 11; -ms-grid-column: 1; -ms-grid-column-align: center; }
div[data-index="11"] { -ms-grid-row: 12; -ms-grid-column: 1; -ms-grid-column-align: center; }

#photos, .photo, h2, h3 { text-align: center; }

#photos .photo a img:hover {
  transform: scale(1.05,1.05);
  transition: all .5s;
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
}

.lightbox {
  display: flex;
  height: 100vh;
  margin: 0;
  justify-content: center;
}

.lightbox .image-wrap {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  align-self: center;
  border: 12px solid #ccc;
  border-radius: 5px;
}

.lightbox .image-wrap .image {
  opacity: 0;
}

.lightbox .image-wrap .arrow {
  position: absolute;
  top: 25%;
  font-size: 4.0rem;
  color: #ccc;
}

.lightbox .image-wrap .prev { left: -50px; }
.lightbox .image-wrap .next { right: -50px; }

.lightbox .image-wrap .close {
  position: absolute;
  right: 0;
  top: -40px;
  color: #ccc;
  font-size: 1.3rem;
  cursor: pointer;
}

.lightbox .image-wrap .arrow:hover {
  cursor: pointer;
  transform: scale(1.05,1.05);
  color: #fff;
  transition: all .5s;
}

.lightbox .caption {
  margin-top: 0.75rem;
}

.lightbox .title { float: left; color: #fff; }
.lightbox .flickr-link { float: right; }

.hidden { display: none; }

.noScroll {
  position: fixed; 
  overflow-y: scroll; 
  margin-top: 0px;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fadein  { animation: fadein .5s linear; }
.fadeout { animation: fadeout .5s linear; }

@media screen and (max-width: 599px) {
  .lightbox .image-wrap .prev { left: -40px; }
  .lightbox .image-wrap .next { right: -40px; }
}

@media screen and (min-width: 600px) {
  #photos {
    grid-template-columns: repeat(2,auto);
    -ms-grid-columns: 1fr 1.0rem 1fr;
  } 
  div[data-index="0"]  { -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="1"]  { -ms-grid-row: 1; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="2"]  { -ms-grid-row: 2; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="3"]  { -ms-grid-row: 2; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="4"]  { -ms-grid-row: 3; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="5"]  { -ms-grid-row: 3; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="6"]  { -ms-grid-row: 4; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="7"]  { -ms-grid-row: 4; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="8"]  { -ms-grid-row: 5; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="9"]  { -ms-grid-row: 5; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="10"] { -ms-grid-row: 6; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="11"] { -ms-grid-row: 6; -ms-grid-column: 5; -ms-grid-column-align: center; }
  .lightbox .image-wrap .arrow {
    top: 22%;
    font-size: 6.0rem;
  }
  
  .lightbox .image-wrap .prev { left: -70px; }
  .lightbox .image-wrap .next { right: -70px; }
}

@media screen and (min-width: 768px) {
  #photos {
    grid-template-columns: repeat(3,auto);
    -ms-grid-columns: 1fr 1.0rem 1fr 1.0rem 1fr;
  } 
  div[data-index="0"]  { -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="1"]  { -ms-grid-row: 1; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="2"]  { -ms-grid-row: 1; -ms-grid-column: 5; -ms-grid-column-align: center; }
  div[data-index="3"]  { -ms-grid-row: 2; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="4"]  { -ms-grid-row: 2; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="5"]  { -ms-grid-row: 2; -ms-grid-column: 5; -ms-grid-column-align: center; }
  div[data-index="6"]  { -ms-grid-row: 3; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="7"]  { -ms-grid-row: 3; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="8"]  { -ms-grid-row: 3; -ms-grid-column: 5; -ms-grid-column-align: center; }
  div[data-index="9"]  { -ms-grid-row: 4; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="10"] { -ms-grid-row: 4; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="11"] { -ms-grid-row: 4; -ms-grid-column: 5; -ms-grid-column-align: center; }
}

@media screen and (min-width: 1100px) {
  #photos {
    grid-template-columns: repeat(4,auto);
    -ms-grid-columns: 1fr 1.0rem 1fr 1.0rem 1fr 1.0rem 1fr;
  } 
  div[data-index="0"]  { -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="1"]  { -ms-grid-row: 1; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="2"]  { -ms-grid-row: 1; -ms-grid-column: 5; -ms-grid-column-align: center; }
  div[data-index="3"]  { -ms-grid-row: 1; -ms-grid-column: 7; -ms-grid-column-align: center; }
  div[data-index="4"]  { -ms-grid-row: 2; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="5"]  { -ms-grid-row: 2; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="6"]  { -ms-grid-row: 2; -ms-grid-column: 5; -ms-grid-column-align: center; }
  div[data-index="7"]  { -ms-grid-row: 2; -ms-grid-column: 7; -ms-grid-column-align: center; }
  div[data-index="8"]  { -ms-grid-row: 3; -ms-grid-column: 1; -ms-grid-column-align: center; }
  div[data-index="9"]  { -ms-grid-row: 3; -ms-grid-column: 3; -ms-grid-column-align: center; }
  div[data-index="10"] { -ms-grid-row: 3; -ms-grid-column: 5; -ms-grid-column-align: center; }
  div[data-index="11"] { -ms-grid-row: 3; -ms-grid-column: 7; -ms-grid-column-align: center; }
}

/* reduce image jump on large screens that don't have a scroll bar ititally */
@media screen and (min-width: 1100px) and (min-height: 865px) {
  .noScroll { margin-left: 12px; }
}

.loading, .error {
  margin: 2.0rem;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1.0rem;
  background-color: #333;
  color: #fff;
  font-weight: 600;
}

.footer a {
  font-weight: 400;
  text-decoration: none;
}

.footer span {
  float: right;
  margin-right: 2.5rem;
}